<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue tutorial</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
      body{
      background: #eee;
      max-width: 960px;
      margin: 20px auto;
    }
    p, h3, ul{
      margin: 0;
      padding: 0;
    }
    li{
      list-style-type: none;
      background: #fff;
      margin: 20px auto;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li.owned{
      background: #ff9ed2;
      color: white;
    }

    </style>

</head>
<body>
   

    <div id="app">
        <h1>{{ name }} </h1>
        <h2>{{ colour }}</h2>
        <p>{{ type }}</p>

        <div v-if="owned">
          <p>{{ collected }}</p>
         </div>

         
        
         <ul>
             <li v-for="paint in paints" :class="{ owned: paint.isOwned}">
                 <h1>{{ paint.name }}</h1>
                 <img :src="paint.img" :alt="paint.name">
                 <h3> {{ paint.type }}  </h3> 
                 <h3> {{ paint.colour }}  </h3> 
                 
                         <button @click="changeOwned(paint)">
                             <span v-if="!owned">Mark as uncollected</span>
                             <span v-else>Mark as collected</span>
                         </button>
                 
                         
                      
             </li>
             <li v-for="paint in filteredPaints" :class="{ owned: paint.isOwned}">
                 <h1>filter {{ paint.name }}</h1>
                 <img :src="paint.img" :alt="paint.name">
                 <h3> {{ paint.type }}  </h3> 
                 <h3> {{ paint.colour }}  </h3> 
                 
                         <button @click="changeOwned(paint)">
                             <span v-if="!owned">Mark as uncollected</span>
                             <span v-else>Mark as collected</span>
                         </button>
                 
                         
                      
             </li>


            </ul>

    </div>    

    <script src="app.js"></script>
</body>
</html>
