<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue tutorial</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
   

    <div id="app">
        <h1>{{ name }} </h1>
        <h2>{{ colour }}</h2>
        <p>{{ type }}</p>

        <div v-if="owned">
          <p>{{ collected }}</p>
         </div>


        <button @click="changeOwned()">
            <span v-if="!owned">Mark as collected</span>
            <span v-else>Mark as uncollected</span>
        </button>
        
      <ul>
        <li v-for="paint in paints">
            <h1>{{ paint.name }}</h1>
            <h3> {{ paint.type }}  </h3> 
            <h3> {{ paint.colour }}  </h3> 

        </li>
     </ul>
    
        

    </div>    

    <script src="app.js"></script>
</body>
</html>